.name {
    display: block;
    height: auto;
    position: center;
    width: auto;
    max-width: 80%;
    user-select: none;
    margin: 15vw auto 2vw;
}

.backgroundVideo {
    position: absolute;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
    width: auto;
    user-select: none;
    z-index: -5;
    --animate-duration: 5s;
    object-fit: cover;
    --animate-delay: 6s;
}