.resume-typist-container {
    margin: 20px auto 0 5%;
    width: 100%;
    font-family: "Consolas", monospace;
    font-size: 2vw;
    height: auto;
    font-weight: bolder;
    position: relative;
    /*padding: 20px;*/
    display: flex;
}

.resume-typist-contents {
     /*position: absolute;*/
     /*bottom: 10px;*/
 }

.resume-contents-container {
    width: 100%;
    display: block;
    padding: 20px;
}

