.projects-container {
    overflow: auto;
    position: center;
    width: 90%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 100px 10px;
    margin-right: auto;
    margin-left: auto;
    z-index: 0;
    /*padding: 30px;*/
}

.project-cell {
    transition: 1s;
    border-style: solid;
    width: auto;
    height: calc(180%);
    padding: 15px;
    font-family: "Lora", serif;
    font-size: 14px;
    color: black;
    text-decoration: none;

}

.project-cell:hover {
    transition: 1s;
    color: black;
    box-shadow: 5px 5px crimson;
}

.project-title {
    pointer-events: none;
    user-select: none;
    text-decoration: none;
}

.project-timeframe {
    float: right;
    pointer-events: none;
    user-select: none;
}

.project-description {
    margin-top: 10%;
    pointer-events: none;
    user-select: none;
}

.project-link {
    height: 8vw;
    text-decoration: none !important;

}