.about-container {
    display: flex;
    width: 100%;
    padding: 25px;
}

.picture-me {
    width: calc(50% - 25px);
    height: 100%;
}

.img-container {
    justify-items: center;
    align-items: center;
    display: flex;
    height: 100%;
    padding: 20px;
}

.portrait {
    width: 20vw;
    margin: auto;
}

.about-text {
    width: 50%;
    height: auto;
    margin: auto;
    font-family: "Lora", serif;
    font-size: 1.5vh;
    display: block;
    overflow: auto;
    position: center;
}

.about-typist-container {
    margin: 0 auto 0;
    font-family: "Consolas", monospace;
    font-size: 1.5vw;
    height: auto;
    font-weight: bolder;
}

.about-text-container {
    margin-top: 2vw;
    width: 100%;
    height: auto;
}