.about-container {
    display: flex;
    width: 100%;
    padding: 50px;
}

.picture-me {
    width: 50%;
    height: 100%;
}

.img-container {
    justify-items: center;
    align-items: center;
    display: flex;
    height: 100%;
    padding: 20px;
}

.portrait {
    width: 20vw;
    margin: auto;
}

.about-text {
    width: 50%;
    height: 100%;
    margin: auto;
    font-family: "Lora", serif;
    font-size: 120%;
    display: block;
    overflow: auto;
}

.about-typist-container {
    margin: 10vw auto 2vw;
    font-family: "Consolas", monospace;
    font-size: 1.5vw;
    height: auto;
    font-weight: bolder;
}

.about-text-container {
    width: 100%;
    height: auto;
    margin: auto
}