.project-contents {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.typist-container {
    margin: 20px auto 0 5%;
    font-family: "Consolas", monospace;
    font-size: 2vw;
    font-weight: bolder;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}