.icon-container {
    width: 100%;
    text-align: center;
    height: auto;
    /*margin-top: 5%;*/
    position: fixed;
    bottom: 5vh;
    /*display: block;*/
    /*margin-bottom: 5%;*/
}

.home-icon {
    fill: black;
    transition: 1s;
    width: 4vh;
    height: 4vh;
    padding: 5px;
}

.home-icon:hover {
    fill: crimson;
    transition: 1s;
}

.home-icon:active {
    fill: white;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}